$charcoal: #bbb;

.main-header {
  align-items: center;
  border-bottom: 1px solid $charcoal;
  display: flex;
  height: 100px;
  padding: 0 20px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
